@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee+Spice&family=Dancing+Script&family=Inter&display=swap');
/* public */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    margin: auto;
    width:84%;
    overflow: hidden;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.w-100{
    width:100%;
}
body{
    font-family: 'Inter', sans-serif;
}
/* start navbar-top section */
.navbar-top {
    background-color:#f0f3f2;
    font-size: 14px;
    font-weight: 590;
    padding:4px 0;
}
.navbar-top .content-left{
    color:#5c6c75 ;
    float: left;
    width: 50%;
    padding-left:7px;
}
.navbar-top .content-right{
    color:#5c6c75 ;
    float: right;
    width: 50%;
    padding-left: 450px;
    overflow: hidden;  
    padding-top: 5px;
}
.navbar-top .content-right img{
    float: left;
    width: 20%;
    padding-right: 8px;
    padding-top: 3px;
}
.navbar-top .content-right span{
    float: left;
    width: 48%;
}
.navbar-top .content-right::after{
    content: '\f078';
    font-family: fontAwesome;
    font-size: 9px;   
}
/* end navbar-top  section*/
/*  start navbar2  section*/
.navbar2{
    margin-top:20px;
}
.navbar2 .logo{
    float: left;
    width:20%;
    padding-left: 8px;
    padding-right: 48px;
}
.navbar2 .search{
    float: left;
    width:30%;
    position: relative;
    margin-left: 60px;
    border: .0000000001px solid  #f0f3f2; 
    border-radius: 7px;
   
}
.navbar2 .search input{
    padding:8.6px 260px 8.6px 0;
    font-size: 15px; 
    border-radius: 7px;
    border: 2px solid  #f0f3f2;  
} 
input:focus{
    outline:2px solid #85d685;
}
.navbar2 .search:focus i{
    display: none;
}
.navbar2 .input::placeholder{
    padding-right:400px ;
}
.navbar2 .search i{
    color: #5c6c75;
    width: 5%;
    position: absolute;
    top:13px;
    right:-100px;
    font-size: 14px;
}
.navbar2 .location{
    float: left;
    width: 10%;
    border: 2px solid  #f0f3f2; 
    margin-left: 125px;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    padding: 8px 2px;
    text-align: center;
}
.navbar2 .location span{
    margin-left: 5px;
    color: #5c6c75;
    font-size: 14px; 
}
.navbar2 .location i{
    color: #5c6c75;
}
.navbar2 .location:hover{
    background:#c1c7c6;
}
.navbar2 .icons{
    float: left;
    width:10%;
    margin-left: 150px;
    padding-top: 5px;
    font-size: 10px;
}
.navbar2 .icons .items{
    overflow: hidden;
}
.navbar2 .icons .items .item{
    float: left;
    width:33.33%;
    position: relative;
    padding-top: 10px;
} 
.navbar2 .icons .item i{
    position: relative;
    color: #5c6c75;
    font-size: 20px;
}
.navbar2 .icons .item i:hover{
    cursor: pointer;
}
.navbar2 .icons .items .item span{
    position: absolute;
    top:0;
    left:14px;
    background-color: #198754;
    color: white;
    border-radius: 10px;
    font-size: 10px;
    padding: 4px 8px;
    font-family: 'Inter', sans-serif;
} 
/* end navbar2 section */
/*  start navbar3 section */
.navbar3{
    padding-bottom: 15px;
    border-bottom: 2px solid #f0f3f2; 
}
.navbar3 .btn{
    background-color: #0aad0a;
    width: 15%;
    float:left;
    padding:12px 20px;
    margin-left:5px;
    color: white;
    border-radius: 7px;
    margin-top:12px;
    text-align: center;
    font-size: 14px;
}
.navbar3 .btn:hover{
    background-color: #088a08;
    cursor: pointer;
}
.navbar3 .btn i{
    width:9%;
    color: white;
}
.navbar3 .list{
   float:left;
   width:70%;
   overflow: hidden;
   padding-top:20px;
   padding-left: 15px;
}
.navbar3 .list .item a{
    color:#001e2b;
}
.navbar3 .list .item {
    float:left;
    width:12%;
    font-size:15px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}
.navbar3 .list .item.item-m{
    width:14%;
}
.navbar3 .list .item a:hover{
    color:#0aad0a;
    cursor: pointer;
}
.navbar3 .list .item-a::after{
    content: '\f078';
    font-family: fontAwesome;
    font-size: 9px; 
    padding-left: 5px;
    color: #5c6c75;
}
/* end navbar3 section */
/* start header section */
.header{
    margin-top: 30px;
    position: relative;
}
.header-img img{
    height: 530px; 
}
.header-content{
    position: absolute;
    top: 130px;
    left: 170px;
}
.header .header-content h2{
    font-size: 14px;
    background-color:#ffc107;
    width: fit-content;
    border-radius: 5px;
    margin-bottom: 20px;
}
.header .header-content h1{
    font-size: 50px;
    color: #001e2b;
    font-weight: 900 ;
    margin-bottom: 20px;
}
.header .header-content p{
    font-size: 18px;
    color:#5c6c75;
    font-weight:550;
    margin-bottom: 25px;
}
.header .header-content a{
    background-color: #001e2b;
    padding:9px 16px;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    border-color: #001e2b;
    display: inline-block;
}
.header .header-content a:hover{
    background-color: #334b55;
    border-color: #334b55;
    cursor: pointer;
}
/* end header section */
/* start categories section */
.categories .title{
    overflow: hidden;
    margin-top: 80px;
}
.categories .title .content-left{
    float:left;
    width:92%;
    font-family: 'Inter', sans-serif;
    color: #001e2b;
    font-size: 17px;
}
.categories .title .content-right{
    float:left;
    width:8%;
    color: black; 
}
.categories .title .content-right i{
    background-color:#f0f3f2;
    height: 28px;
    width: 28px;
    line-height: 28px;
    text-align: center;
    border-radius: 18px;
    font-size: 12px;
}
.categories .title .content-right i:hover{
    background-color: #0aad0a;
    color: white;
}
.categories .images{
    overflow:hidden;
    margin-top: 25px;
}
.categories .images .image{
    float:left;
    width: 22%;
    border:1px solid #c9c9c9 ;
    margin-left: 10px;
    padding:25px 15px;
    text-align: center;
    border-radius: 5px;
}
.categories .images .image:hover{
    border-color: #0aad0a;
    cursor: pointer;

}
.categories .images .image:hover h3{
    color: #0aad0a;
}
.categories .images .image h3{
    margin-top: 10px;
    font-size: 14px;
    color:#21313c;
    font-family: 'Inter', sans-serif;
}
/* end categories section */
/* start images section */
.images{
    margin-top: 70px;
}
.images .image{
    width: 550px;
    height: 200px;
    border-radius:10px;
}
.images .left{
    float: left;
    width: 50%;
    position:relative;
    margin-right:13px;
}
.images .left-content{
    position: absolute;
    top:0px;
    left:0px;
}
.images .right{
    float: left;
    width: 40%;
    position:relative;
}
.images .right-content{
    position: absolute;
    top:0px;
    left:0px;
}
.images h2{
    color:#001e2b;
    font-size: 25px;
    margin-top: 40px;
    margin-left: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
}
.images p{
    color:#5c6c75;
    margin-top: 7px;
    margin-left: 30px;
    font-size: 16;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
}
.images a{
    background-color:#001e2b;
    color: white;
    margin-top: 10px;
    margin-left: 30px;
    padding:8px 16px;
    font-size: 16px;
    border-radius: 5px;
    display:inline-block;
}
.images a:hover{
    background-color: #334b55;
    cursor: pointer;
}
/* end images section */
/* start Popular Products section */
.popular-products h2{
    margin-top: 100px;
    margin-bottom: 30px;
    color:#001e2b;
    font-size: 26px;
    font-family: 'Inter', sans-serif;
}
.popular-products .items{
    overflow: hidden;
}
.popular-products .items .item{
    border: 1px solid #dfe2e1;
    float: left;
    width:18%;
    margin-right: 20px;
    height: 320px;
    margin-bottom: 20px;
    border-radius: 5px;
    position: relative;
}
.popular-products .items .item:hover{
    border-color: #0aad0a;
    cursor: pointer;
}
.popular-products .items .item img{
    width: 89%;
   
}
.popular-products .items .item .sale{
    position: absolute;
    top:15px;
    left:15px;
    background-color: #db3030;
    color: white;
    border-radius: 5px;
    font-size: 12px;
    padding: 1px 6px;
    font-family: 'Inter', sans-serif;
    font-weight: 500; 

}
.popular-products .items .item .percent{
    position: absolute;
    top:20px;
    left:15px;
    background-color: #198754;
    color: white;
    border-radius: 5px;
    font-size: 12px;
    padding: 1px 6px;
    font-family: 'Inter', sans-serif;
    font-weight: 500; 

}
.popular-products .items .item .Hot{
    position: absolute;
    top:20px;
    left:15px;
    background-color: #db3030;
    color: white;
    border-radius: 5px;
    font-size: 12px;
    padding: 1px 6px;
    font-family: 'Inter', sans-serif;
    font-weight: 500; 

}
.popular-products .items .item p{
     color:#5c6c75;
     font-size: 13px;
     margin-left: 15px;
     margin-bottom: 5px;
     font-family: 'Inter', sans-serif;
}
.popular-products .items .item a{
     color: #051620;
     margin-left: 15px;
     margin-bottom: 5px;
     font-family: 'Inter', sans-serif;
     font-size: 14px; 
     font-weight: 900; 
}
.popular-products .items .item .rate{
    overflow: hidden;
    margin-top: 10px;
}
.popular-products .items .item .rate .icons{
    margin-left: 15px;
    float:left;
    width:50%;

}
.popular-products .items .item .rate .number{
    float:left;
    width: 20%;
    font-size: 13px;
    margin-right: 25px;
    color: #5c6c75;
}
.popular-products .items .item .rate .icons i{
    font-size: 10px;
    margin-bottom: 10px;
    color:#ffc107 ;
}
.popular-products .items .item .price{
    margin-bottom: 10px;
    margin-left: 15px;
    font-size: 13px;
}
.popular-products .items .item .price .newprice{
    color:#5c6c75;
}
.popular-products .items .item .price a{
    margin-left: 65px;
    padding: 5px 10px;
    background-color:#0aad0a;
    color: white;
    border-radius: 5px;
    display: inline-block;
}
.popular-products .items .item .price a:hover{
    background-color: #088a08;
    cursor: pointer;
}
/* end Popular Products section */
/* start Daily Best Sells */
.Best-Sells h2{
    margin-top:60px ;
    margin-bottom: 20px;
    color:#051620;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}
.Best-Sells .item{
    position:relative;
    float: left;
    width:24%;
    border: 1px solid #dfe2e1;
    box-sizing: border-box;
    margin-right: 10px;

}
.Best-Sells .item.first{
    border: none;
}
.Best-Sells .item.first i{
    color: white;
}
.Best-Sells .item.first img{
    width: 95%;
    height: 450px;
    border-radius: 5px;
    
}
.Best-Sells .items .content{
    position:absolute;
    top:25px;
    left:25px;
}
.Best-Sells .items .content h3{
   color: white;
   font-size: 30px;
   margin-bottom: 10px;
   font-family: 'Inter', sans-serif;
}
.Best-Sells .items .content p{
    font-size: 16px;
    color: white;
    font-family: 'Inter', sans-serif;
    margin-bottom: 17px;
}
.Best-Sells .items .item.first .content a{
    background-color:#0aad0a;
    padding:6px 12px;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    display: inline-block;
}
.Best-Sells .items .item.first .content a:hover{
    background-color: #088a08;
}
.Best-Sells .item p{
    color:#5c6c75;
    font-size: 13px;
    margin-left: 15px;
    margin-bottom: 5px;
    font-family: 'Inter', sans-serif;
}
.Best-Sells .item h3{
     color: #051620;
     margin-left: 15px;
     margin-bottom: 5px;
     font-size: 14px; 
     font-weight: 900;
}
.Best-Sells .info{
    overflow: hidden;
    margin-left: 15px;
}
.Best-Sells  .item .info .price{
    float: left;
    width: 50%;
}
.Best-Sells  .item .info .rate{
    float: left;
    width: 50%;
}
.Best-Sells .item i{
    font-size: 11px;
    margin-bottom: 10px;
    color:#ffc107 ;
}
.Best-Sells .items .item .price .newprice{
    color: #334b55;
}
.Best-Sells .items .item .rate span{
    color: #5c6c75;
}
.Best-Sells .items .item a{
    background-color: #0aad0a;
    color: white;
    padding: 10px 70px;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 16px;
    display: inline-block;
}
.Best-Sells .items .item a:hover{
    background-color: #088a08;
    cursor: pointer;
}
.Best-Sells .items .item .time{
    overflow: hidden;
    margin-top: 20px;
}
.Best-Sells .items .item .time .days{
    border: #dfe2e1 1px solid;
    width: 25%;
    float: left;
    margin-right: 5px;
    margin-left: 15px;
    padding:8px 10px;
    text-align: center;
    border-radius: 5px;
}
.Best-Sells .items .item .time .hours{
    border: #dfe2e1 1px solid;
    width: 25%;
    float: left;
    margin-right: 5px;
    margin-left: 5px;
    padding:8px 10px;
    text-align: center;
    border-radius: 5px;
}
.Best-Sells .items .item .time .min{
    border: #dfe2e1 1px solid;
    width: 25%;
    float: left;
    margin-right: 5px;
    margin-left: 5px;
    padding:8px 10px;
    text-align: center;
    border-radius: 5px;
}
.Best-Sells .items .item .time .sec{
    border: #dfe2e1 1px solid;
    width: 25%;
    float: left;
    margin-right:5px;
    margin-left: 95px;
    margin-top: 10px;
    padding:8px 10px;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 20px;
}
.Best-Sells .items .item:hover{
    border-color: #0aad0a;
} 
.Best-Sells .items .item .time .text{
    color:#5c6c75;

}
/* end Daily Best Sells */
/* statr icons section */
.about{
    margin-top: 90px;
}
.about .items .item{
    float: left;
    width: 25%;
}
.about .items .item img{
    margin-bottom: 20px;
}
.about .items .item h3{
    color:#001e2b;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 15px;
    font-weight: 600;
}
.about .items .item p{
    color: #5c6c75;
    font-size: 13px;
    font-family: 'Inter', sans-serif;
    width: 85%;
    font-weight: 600;
}
.about .items .item span{
    color: #0aad0a;
}
.about .items .item span:hover{
    color: #088a08;
}
/*  end icons section */
/* start footer section */
.footer{
    background-color: #f0f3f2;
    margin-top: 100px;
}
.footer .columns{
    overflow: hidden;
    margin-top: 40px;
    border-bottom:#dfe2e1 solid 1px;
    padding-bottom: 20px;
}
.footer .columns .column{
    float: left;
    width:16.66%;
    
}
.footer .columns .column.seconed{
    margin-top: 20px;
}
.footer .columns .column h3{
    color: #001e2b;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 20px;
}
.footer .columns .column a{
    font-size: 14px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    color:#5c6c75;
    display: inline-block;
    margin:7px 0;
}
.footer .columns .column a:hover{
    color: #0aad0a;
}
.footer-sec{
    margin:20px 0;
    overflow: hidden;
    border-bottom:#dfe2e1 solid 1px;
    padding-bottom: 10px;
}
.footer-sec .content-left{
    float:left;
    width:50%;
}
.footer-sec .content-left span{
    float: left;
    width: 25%;
    margin-top:2px;
    color: #00080c;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}
.footer-sec .content-left .img{
    float: left;
    width: 75%;
}
.footer-sec .content-left .img img{
    padding-left: 10px;  
}
.footer-sec .content-right{
    float:left;
    width:50%;
}
.footer-sec .content-right span{
    float: left;
    width: 35%;
    margin-top:10px;
    color: #00080c;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
}
.footer-sec .content-right .img{
    float: left;
    width: 65%;
}
.footer-sec .content-right .img img{
    width:45%;
}
.footer-third{
    overflow: hidden;
    margin-bottom: 80px;
}
.footer-third .left{
    float: left;
    width: 55%;
    color: #5c6c75;
    font-size: 13px;
    font-family: 'Inter', sans-serif;
}
.footer-third .left a{
    color: #0aad0a;
}
.footer-third .left a:hover{
    color:#088a08;
}
.footer-third .right{
    float: left;
    width: 20%;
    margin-left: 280px;
}
.footer-third .right span{
    float: left;
    width: 35%;
    font-size: 12px;
    color: #5c6c75;
    margin-top: 6px;
    font-family: 'Inter', sans-serif;
}
.footer-third .right .icons{
    float: left;
    width: 65%;
}
.footer-third .right .icons i{
    border: #5c6c75 solid 1px;
    font-size: 14px;
    color: #5c6c75;
    padding:8px 8px;
    border-radius: 6px;
    margin-right: 5px;
}
.footer-third .right .icons i:hover{
    color: #0aad0a;
    border-color: #0aad0a;
    cursor: pointer;
}
/* end footer section */
/* media query */
@media (max-width: 766px) {
    /* start navbar-top section */
     .navbar-top {
        font-size: 10px;
        font-weight: 400;
    }
    .navbar-top .content-left{
        width: 40%;
        padding-left:0;
    }
    .navbar-top .content-right{
        width: 40%;
        padding-left: 10px;  
    }
    .navbar-top .content-right img{
        width: 10%;
        padding-right: 2px;
        padding-top: 3px;
    }
    .navbar-top .content-right span{
        width: 48%;
    }
    .navbar-top .content-right::after{
        content: '\f078';
        font-family: fontAwesome;
        font-size: 9px;   
    }
    /* end navbar-top  section*/
    /*  start navbar2  section*/
    .navbar2 .logo{
        float: none;
        padding-left: 6px;
        padding-right: 30px;
    }
    .navbar2 .search{
        float:none;
        width:60%;
        margin-left:0px;
        margin-bottom: 5px;
        border: none;
    }
    .navbar2 .search input{
        font-size: 7px; 
        padding:4px 50px;  
    }
    .navbar2 .search i{
        margin-left: 0px;
        width: 3%;
        font-size: 10px;
        top:10px;
        right:60px;
    }
    .navbar2 .location{
        float: none;
        width: 30%;
        margin-left: 3px;
        padding: 1px .6px;
        text-align: center;
     }
    .navbar2 .location span{
        margin-left: 5px;
        font-size: 10px;   
    }
    .navbar2 .icons{
        float: none;
        width:35%;
        margin-left: 2px;
        padding-top: 10px;
        font-size: 14px;
    }
    .navbar2 .icons .items .item{
        float: left;
        width:33.33%;
    }  
    /* end navbar2 section */
    /*  start navbar3 section */
    .navbar3{
        padding-bottom: 15px;
    }
    .navbar3 .btn{
        background-color: #0aad0a;
        width: 50%;
        float:none;
        padding:4px 15px;
        margin-left:5px;
        font-size: 11px;
    }
    .navbar3 .btn i{
        font-size: 10px;
    }
    .navbar3 .list{
        float:none;
        width:100%;
        padding-top:15px;
        padding-left: 5px;
        
    }
    .navbar3 .list .item {
        float:none;
        width:20%;
        font-size:13px;
        font-weight: 400;
    }
    /* end navbar3 section */
    /* start header section */
    .header{
        margin-top: 15px;
    }
    .header-img img{
        height: 300px; 
        
    }
    .header-content{
        position: absolute;
        top: 40px;
        left: 50px;  
        margin-left: 20px;
        margin-top: 10px;
    }
    .header .header-content h2{
        font-size: 10px;
        background-color:#ffc107;
        width: fit-content;
        border-radius: 5px;
        margin-bottom: 15px;
    } 
    .header .header-content h1{
        font-size: 14px;
        margin-bottom: 15px;
    }
    .header .header-content p{
        font-size: 12px;
        width:45%;
        margin-bottom: 15px;
    }
    .header .header-content a{
        padding:8px 12px;
        font-size: 10px;

    }
    /* end header section */
    /* start categories section */
    .categories .title .content-left{
        width:70%;
        font-size: 15px;
    }
   .categories .title .content-right{
        width:15%;
        margin-left: 20px;
    }
   .categories .title .content-right i{
        height: 15px;
        width: 15px;
        line-height:15px;
        border-radius:5px;
        font-size: 6px;
    }
    .categories .images .image{
        width: 40%;
        margin-left: 15px;
        padding:12px 30px;
        margin-bottom: 15px;
    }
    .categories .images .image img{ 
       width:95%;
       margin-top: 16px;
    }
    .categories .images .image h3{
        font-size: 10px;
    }
    /* end categories section */
    /* start images section */
    .images{
        margin-top: 40px;
    }
    .images .image{
        width: 300px;
        height: 150px;
        margin-bottom: 15px;
    }
    .images .left{
        float: none;
    }
    .images h2{
        font-size: 15px;
        margin-top: 20px;
        margin-left: 10px;
    }
    .images p{
        margin-top: 5px;
        margin-left: 10px;
        font-size: 13px;
    }
    .images a{
        margin-top: 8px;
        margin-left: 20px;
        padding:4px 15px;
        font-size: 10px;
    }
    /* end images section */
    /* start Popular Products section */
    .popular-products h2{
        margin-top: 50px;
        margin-bottom: 30px;
        font-size: 26px;
    } 
    .popular-products .items .item img{
        width: 65%; 
    }
    .popular-products .items .item{
        float: none;
        width:70%;
        margin-left: 40px;
        margin-bottom: 20px;
        font-size: 10px;
    }
    .popular-products .items .item .price a{
        margin-left: 60px;
        padding: 5px 8px;
    }
    /* end Popular Products section */
    /* start Daily Best Sells */
    .Best-Sells .item{
        position:relative;
        float: none;
        width:90%;
        margin-left: 15px;
        margin-top: 15px;
    }
    .Best-Sells .item img{
        margin-left: 18px;
    }
    /* end Daily Best Sells */
    /* statr icons section */
    .about{
       margin-top: 60px;
    }
   .about .items .item{
       float: left;
       width: 50%;
       margin-bottom:30px ;
    }
   .about .items .item img{
       margin-bottom: 10px;
    }
    .about .items .item h3{
       font-size: 13px;
       margin-bottom: 12px;
    }  
    .about .items .item p{
       font-size: 11px;
    }
   /*  end icons section */
   /* start footer section */
    .footer{
       margin-top: 60px;
    }
    .footer .columns .column{
       float: left;
       width:80%;
       margin-left: 10px;
       margin-bottom: 22px;
    
    }
    .footer .columns .column.seconed{
       margin-top: 1px;
    }
    .footer .columns .column h3{
       font-size: 20px;
       margin-bottom: 10px;
    }
    .footer .columns .column a{
       font-size: 14px;
       margin:3px 0;
    }
    .footer-sec .content-left{
       float:none;
       width:100%;
    }
    .footer-sec .content-left span{
       width: 30%;
       margin-top:2px;
       font-size: 10px;
    }
    .footer-sec .content-left .img{
       width: 70%;
    }
    .footer-sec .content-left .img img{
      padding-left: 3px;  
    }
    .footer-sec .content-right{
      float:none;
      width:100%;
    }
    .footer-sec .content-right span{
      width: 50%;
      margin-top:2px;
      font-size: 10px;
    }
    .footer-sec .content-right .img{
       width: 50%;
    }
    .footer-third .left{
      float:none;
      width: 100%;
      font-size: 12px;
    }
    .footer-third .right{
      float:none;
      width:70%;
      margin-left: 0px;
      margin-top: 20px;
    }
    .footer-third .right .icons i{
      font-size: 13px;
      padding:7px 7px;
      border-radius: 6px;
      margin-right: 6px;
    }
}
@media (max-width: 576px){
    /*  start navbar2  section*/
    .navbar2 .search input{
        font-size: 6px;   
    }
    .navbar2 .search i{
        margin-left: 0px;
        width: 3%;
        font-size: 8px;
    }
    .navbar2 .icons{
        width:40%;
    }
    /* start header section */
    .header .header-content h2{
        margin-bottom: 10px;
    } 
    .header-content{
        top: 20px;
        left: 35px;  
    }
    .header .header-content p{
        font-size: 9px;
    }
    /* start Popular Products section */
    .popular-products .items .item{
        height: 280px;
    }
    .popular-products .items .item a{
        font-size: 10px;
    }
    .popular-products .items .item .price a{
        margin-left: 55px;
        padding: 3px 6px;
    }
    /* start Daily Best Sells */
    .Best-Sells .item i{
        font-size: 8px;
        margin-bottom: 10px;
    }
    .Best-Sells .items .item a{
        padding: 8px 44px;
        margin-left: 35px;
        font-size: 12px;
    }
    /* statr icons section */
    .about .items .item{
        width: 45%;
    }
    .about .items .item h3{
        font-size: 10px;
    } 
    /* start footer section */
    .footer-sec .content-left span{
        font-size: 7px;
        width:25%;
    }
    .footer-sec .content-left .img{
        width: 75%;
    }
    .footer-sec .content-left .img img{
        padding-left: 1px;  
    }
    .footer-sec .content-right span{
        font-size: 7px;
    }
    .footer-third .right .icons i{
        margin-right: 8px;
    }
    .footer-third .right span{
        font-size: 9px;
    }
}  
@media (max-width: 922px) and (min-width: 766px) { 
    /* start navbar-top section */
    .navbar-top .content-left{
        width: 50%;
        padding-left:5px;
    }
    .navbar-top .content-right{
        width: 50%;
        padding-left: 200px;
    }
    .navbar-top .content-right img{
        width: 18%;
        padding-right: 5px;
    }
    .navbar-top .content-right span{
        width: 38%;
    }
    /* end navbar-top  section*/
   /*  start navbar2  section*/
    .navbar2 .logo{
        float:none;
        width:30%;
        padding-left: 10px;
    }
    .navbar2 .search{
        float:none;
        width:60%;
        margin-left:0px;
        margin-bottom: 5px;
    }
    .navbar2 .search input{
        font-size: 7px; 
        padding:10px 180px; 
        font-size: 16px; 
    }
    .navbar2 .search i{
        margin-left: 0px;
        width: 7%;
        font-size: 12px;
        top:20px;
        right:0px;
    }
    .navbar2 .location{
        float: none;
        width: 30%;
        margin-left: 3px;
        padding: 2px .6px;
        text-align: center;
    }
    .navbar2 .location span{
        margin-left: 5px;
        font-size: 10px;   
    }
    .navbar2 .icons{
        float: none;
        width:35%;
        margin-left: 2px;
        padding-top: 10px;
        font-size: 15px;
    }
    .navbar2 .icons .items .item{
        float: left;
        width:33.33%;
    } 
     /* end navbar2 section */
    /*  start navbar3 section */
    .navbar3 .btn{
        width: 17%;
        padding:10px 12px;
        font-size: 10px;
    }
    .navbar3 .btn i{
        width:5%;
    }
    .navbar3 .list{
        width:80%; 
    }
    .navbar3 .list .item {
        font-size:10px;
    }
    /* end navbar3 section */
   /* start header section */
   .header-content{
        top: 30px;
        left: 80px;
    }
   .header .header-content h1{
        font-size: 40px;
    }
   .header .header-content p{
        font-size: 25px;
        margin-bottom: 30px;
        width: 40%;
    }
     /* end header section */
     /* start categories section */
    .categories .title .content-left{
        width:85%;
        font-size: 17px;
    }
    .categories .title .content-right{
        width:15%;
    }
    .categories .images{
        margin-left: 40px;
    }
    .categories .images .image{
        width: 40%;
        margin-left: 10px;
        padding:25px 15px;
        margin-bottom: 15px;
    }
     /* end categories section */
     /* start images section */
    .images .left{
        float: none;
        margin-left: 40px;
        margin-bottom:10px;
    }
    .images .right{
        margin-left: 40px;;
    }
     /* end images section */
     /* start Popular Products section */
    .popular-products .items .item{
        width:40%;
        margin-left: 25px;
        height: 400px;
        margin-bottom: 20px;
    }
     /* end Popular Products section */
     /* start Daily Best Sells */
    .Best-Sells .item{
        position:relative;
        float: none;
        width:60%;
        margin-left: 80px;
        margin-top: 15px;
    }
    .Best-Sells .item img{
        margin-left: 30px;
    }
    .Best-Sells .items .item .time .sec{
        margin-left: 129px;
    }
     /* end Daily Best Sells */
     /* statr icons section */
    .about{
        margin-top: 60px;
    }
    .about .items .item{
        float: left;
        width: 50%;
        margin-bottom:30px ;
    }
    .about .items .item img{
        margin-bottom: 10px;
    }
    .about .items .item h3{
        font-size: 13px;
        margin-bottom: 12px;
    }  
    .about .items .item p{
        font-size: 11px;
    }
     /*  end icons section */
     /* start footer section */
    .footer{
        margin-top: 60px;
    }
    .footer .columns .column{
        float: left;
        width:80%;
        margin-left: 10px;
        margin-bottom: 22px; 
    }
    .footer .columns .column.seconed{
        margin-top: 1px;
    }
    .footer .columns .column h3{
        font-size: 24px;
        margin-bottom: 10px;
    }
    .footer .columns .column a{
        font-size: 16px;
        margin:3px 0;
    }
    .footer-sec .content-left{
        float:none;
        width:100%;
    }
    .footer-sec .content-left span{
        width: 30%;
        margin-top:2px;
        font-size: 10px;
    }
    .footer-sec .content-left .img{
        width: 70%;
    }
    .footer-sec .content-left .img img{
        padding-left: 3px;  
    }
    .footer-sec .content-right{
        float:none;
        width:100%;
    }
    .footer-sec .content-right span{
        width: 50%;
        margin-top:2px;
        font-size: 10px;
    }
    .footer-sec .content-right .img{
        width: 50%;
    }
    .footer-third .left{
        float:none;
        width: 100%;
        font-size: 12px;
    }
    .footer-third .right{
        float:none;
        width:70%;
        margin-left: 0px;
        margin-top: 20px;
    }
    .footer-third .right .icons i{
        font-size: 13px;
        padding:7px 7px;
        border-radius: 6px;
        margin-right: 6px;
    }
}